header {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background-color: var(--color-primary);
}

.Logo-HeaderWrapper {
    flex: 0 0 40vw; /* flex-grow: 0 - flex-shrink: 0 flex-size: 50vw */

    /* Adjust for Luong-IT Logo */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-secondary);
}

.Search {
    flex: 1;
    
    /* Adjust for LuongIT Logo */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    margin-left: 15vw; /* adjust search section to left */
}

.SearchBar--JobTitle {
  color: var(--font-primary);
}

.SearchBar--JobLocation {
  color: var(--font-primary);
}

.SearchButton {
    padding-left: 1rem;
    padding-top: 2rem;
}

